/* just stylise the qsides a bit */

div[class="success"] {
	background-color: #00ff00;
}

div[class="fail"] {
	background-color: #ff0000;
}

div[class="standby"] {
	background-color: #0000ff;
}

div[class="instr"] {
	padding-top: 1ex;
	padding-bottom: 1ex;
}

div[class="head"] {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
}

span[class="sym"] {
	padding-right: 0.5em;
	font-weight: bold;
}

span[class="descr"] {
	padding-left: 0.5em;
	font-size: small;
}

span[class="p"], span[class="q"] {
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

span[class="q"] {
	font-size: small;
}

div[class~="tick_list"] {
	display: inline-block;
	vertical-align: top;
}

div[class~="tick"] {
	vertical-align: text-bottom;
}

div[class~="bid_list"] span[class="p"] {
	float: right;
}

div[class~="bid_list"] span[class="q"] {
	float: left;
}

div[class="ask_list"] span[class="p"] {
	float: left;
}

div[class="ask_list"] span[class="q"] {
	float: right;
}

div[class~="tick_list"] div[class="tick"] {
	color: #6060a0;
}

div[class~="tick_list"] div[class="tick"]:first-child {
	color: #0000c0;
}

